body { background-color: darkslategray; }

label { color: lightblue; }

p { color: lightsalmon; }

h4,
a,
span,
legend,
.footer-p { color: white; }

.website-logo { max-height: 35px; }

.student-name { text-align: left; }

.space-below-form { padding: 100px 0; }